/* Write your code here. */
* {
  margin: 0px;
}

.app-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.image {
  width: 200px;
  height: 200px;
}

.heading {
  color: #ffffff;
  font-family: 'Roboto';
}

.label {
  color: #ffffff;
}

.count-container {
  background-color: #ffffff;
  height: 30px;
  padding: 5px;
  width: 150px;
  color: #219a6f;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: 600;
}
